@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>JustBok | Support</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Theme/Home%20Page/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    @*<link href="~/Theme/Home%20Page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Theme/Home%20Page/css/full-slider.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,500i,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Theme/Home%20Page/img/logo.png" alt="JustBok" height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" type="button" data-toggle="dropdown">JB Solution  <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="/Home/Gym">Gym</a></li>
                            <li><a href="/Home/Spa">Spa</a></li>
                            <li><a href="/Home/Saloon">Saloon</a></li>
                            <li><a href="/Home/Yoga">Yoga</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Support">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="disclaimer-container">
        <div class="container">
            <h3>JustBok Support is here to assist</h3>
            <p>Support center open hours: 10am to 11pm Pacific Time Monday to Friday. </p>
        </div>
    </div>
    <!-- Page Content -->
    <section class="">
        <div class="container">
            <div class="row  content-box">
                <div class="col-md-8 col-sm-6">
                    <h4>TeamViewer Installation</h4>
                    <p>JustBok uses a remote support service called TeamViewer, which allows us to temporarily take control of your computer so we can look at your issues, see error messages on your screen, or assist you without needing to be onsite. This system gets through firewalls, and interacts with your mouse and keyboard as though we were the currently logged-in user.</p>
                    <p>Please ensure you have downloaded TeamViewer before calling us for support. The technician will then request your password, or a prompt will appear asking for access to your system. In this case, click ‘Allow’. </p>
                    <p>Please choose your <b>Operating System below to download TeamViewer: </b></p>
                    <p>
                        <button type="button" class="btn btn-primary btn-lg">Download TeamViewer for Windows <img src="~/Theme/Home%20Page/img/windowslogo.png" alt="TeamViewer Windows" class="img-responsive"></button>
                        <button type="button" class="btn btn-primary btn-lg">Download TeamViewer for Mac <img src="~/Theme/Home%20Page/img/ios.png" alt="TeamViewer" class="img-responsive"> </button>
                    </p>
                </div>
                <div class="col-md-4 col-sm-6"><img src="~/Theme/Home%20Page/img/teamviewer.png" alt="" class="img-responsive img-thumbnail"></div>
            </div><br>
            <h4>Desktop Version: </h4>
            <p>
                JustBok Desktop Version<br>
                <i>Not applicable for the cloud-based JustBok</i>
            </p>
            <p>JustBok is now available online, therefore GymMaster Desktop Installation is only required in certain circumstances. Please contact the team at JustBok support.</p>
        </div><br>
    </section>
<div class="bg-image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-5 col-sm-10 cnt-module">
                    <div class="cnt-text">
                        <h2>Quick Contact</h2>
                        <h4>Email:<br>gymroster@gmail.com</h4>
                        <h4>Call:<br>+91 8074801104</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark text-white">
        <div class="container">
            <div class="col-md-6">
                <h5>All Rights Reserved. Copyright &copy; 2016 JustBok</h5>
            </div>
            <div class="col-md-4">
                <ul class="pull-right foo-nav">
                    <li><a href="">Disclaimer</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Theme/Home%20Page/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/Home%20Page/vendor/popper/popper.min.js"></script>
    <script src="~/Theme/Home%20Page/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
